export interface {{ classify_name }}Dto extends any {
  Id: string,
  Name: string,
}

export interface {{ classify_name }}DetailDto extends {{ classify_name }}Dto {
  Id: number,
  details: string
}

export interface Create{{ classify_name }}Dto extends {{ classify_name }}Dto {
  createDate: string
}

export interface Update{{ classify_name }}Dto extends {{ classify_name }}Dto {
  id: string,
  updateDate: string;
}
