export interface <%= classify(name) %>Dto {
  Id: string,
  Name: string,
}

export interface <%= classify(name) %>DetailDto extends <%= classify(name) %>Dto {
  details: string
}

export interface Create<%= classify(name) %>Dto extends <%= classify(name) %>Dto {
  createDate: string
}

export interface Update<%= classify(name) %>Dto extends <%= classify(name) %>Dto {
  id: string,
  updateDate: string;
}
